---
import { Image } from "astro:assets";
---
<!-- Card 1 -->
<div class="rounded overflow-hidden border border-accent/10 hover:scale-101 transition-transform hover:shadow-md hover:bg-accent/10">
    <Image
      src="/imagenes/autopot.png"
      alt="AquaPot - Maceta innovadora"
      width={400}
      height={300}
      loading="lazy"
      class="w-full"
    />
    <div class="px-6 py-4">
      <div class="mb-3">
        <h3 class="font-bold text-xl md:text-2xl text-gray-800 leading-tight">AquaPot</h3>
      </div>
      <p class="text-gray-600 text-sm md:text-base leading-relaxed">
        Maceta innovadora con doble fondo diseñada para un riego más
        eficiente.</p>
    </div>
    <!-- <div class="px-6 pt-4 pb-2">
      <Badge class="inline-block mr-2 mb-2" variant="secondary"
        >#photography</Badge
      >
      <Badge class="inline-block mr-2 mb-2" variant="secondary">#travel</Badge
      >
      <Badge class="inline-block mr-2 mb-2" variant="secondary">#winter</Badge
      >
    </div> -->
  </div>
</div>