---
import { Image } from "astro:assets";
import { Badge } from "@/components/ui/badge";
import CardCarousel from "./CardCarousel.astro";
---

<section class="container mx-auto max-w-7xl px-4 sm:px-8 md:px-12 lg:px-16 my-10 text-center">
  <h2 class="text-4xl font-bold">Trabajos recientes</h2>
  <p class="mt-2 mb-4 text-gray-600">Nuestros productos más recientes</p>
  <!-- Grid container with 4 columns -->
  <div
    class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6"
  >
    <CardCarousel />
    <CardCarousel />
    <CardCarousel />
    <CardCarousel />
    
  </div>
</section>
