---
import { Button } from "@/components/ui/button";
import ThreeModel from "./ThreeModel.vue";
---

<section class="relative mt-24 pb-12 py-1 overflow-hidden sm:h-auto border-b">
    <!-- Background gradient that will be visible -->
    <!-- <div class="absolute inset-0 bg-gradient-to-b from-white to-gray-200 z">
    </div> -->

    <div
        class="container mx-auto max-w-7xl px-4 sm:px-8 md:px-12 lg:px-16 flex flex-col sm:flex-row justify-between items-center gap-4"
    >
        <div
            class="w-full sm:w-7/12 md:w-7/12 xl:w-6/12 z-10 flex flex-col justify-center items-center sm:items-start text-center sm:text-start"
        >
            <!-- Text -->
            <h1
                class="font-bold text-3xl md:text-5xl lg:text-6xl text-gray-800 leading-tight"
            >
                Convierte tus <span class="text-primary">Conceptos</span> en Realidad
            </h1>

            <p
                class="font-medium text-lg md:text-xl text-gray-600 max-w-2xl mt-3 md:mt-4 leading-relaxed"
            >
                Explore nuestros modelos 3D o cargue los suyos propios.
                Imprimiremos y enviaremos tus creaciones personalizadas con
                precisión y cuidado.
            </p>

            <!-- Decorative element
            <div
                class="mx-auto sm:mx-0 w-28 h-1 bg-primary rounded-full my-4 md:my-6"
            >
            </div> -->

            <!-- Button -->
            <div
                class="flex flex-col w-full sm:flex-row gap-4 md:gap-6 md:w-5/12 lg:w-4/12 my-9"
            >
                <Button
                    variant="outline"
                    class="w-full py-3 px-8 md:py-4 md:px-10 xl:py-5 xl:px-12"
                >
                    <h5 class="text-sm md:text-base lg:text-xl font-medium">
                        Ver Productos
                    </h5>
                </Button>
                <Button
                    variant="default"
                    class="w-full py-3 px-8 md:py-4 md:px-10 xl:py-5 xl:px-12"
                >
                    <h5 class="text-sm md:text-base lg:text-xl font-medium">Cotizar</h5>
                </Button>
            </div>
        </div>

        <div
            class="w-full sm:w-5/12 md:w-5/12 lg:w-5/12 p-4 flex items-center justify-center rounded-lg  sm:h-[400px]"
        >
            <div class="w-full h-full rounded-lg overflow-hidden">
                <ThreeModel client:idle />
            </div>
        </div>
    </div>
</section>
