<section class="relative my-24 pb-12 overflow-hidden">
    <!-- Background gradient that will be visible -->
    <div class="absolute inset-0 bg-gradient-to-b from-white to-gray-200 z-0"></div>
    
    <div class="container relative z-10 mx-auto px-4 space-y-8 md:space-y-5 flex flex-col justify-center items-center w-full text-center">
        <!-- Text -->
        <h1 class="font-bold text-gray-800 md:block hidden">Convierte tus <span class="text-primary">Conceptos</span> en Realidad 3D</h1>
        <h2 class="font-bold text-gray-800 md:hidden block">Convierte tus <span class="text-primary">Conceptos</span> en Realidad 3D</h2>

        <h5 class="font-medium text-gray-600 max-w-2xl">
            Lleva tus Ideas a la Tercera Dimensión con nuestros servicios profesionales
        </h5>

        <!-- Decorative element -->
        <div class="w-24 h-1 bg-blue-600 rounded-full my-2"></div>

        <!-- Button -->
        <div class="flex gap-4 mt-4">
            <a href="/contacto" class="inline-block py-3 px-6 rounded-full bg-primary text-white font-medium hover:bg-blue-700 transition-colors shadow-md hover:shadow-lg">Cotizar</a>
            <a href="/productos" class="inline-block py-3 px-6 rounded-full border-2 border-primary text-primary font-medium hover:bg-primary hover:text-white transition-colors">Ver productos</a>
        </div>
    </div>
</section>
