---
import './src/styles/global.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<!--Header-->
		<div class="w-full flex flex-row justify-between items-center ">
			<h5>Inicio</h5>
			<h5>Productos</h5>
			<h5>Contacto</h5>
			<h5>Sobre nosotros</h5>
		</div>

		<!--Content-->
		<slot />

		<!--Footer-->
		<div class="w-full flex flex-col justify-center items-center ">
         
		</div>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
